.logo-container {
    width: auto;
}

.imagen-logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

@media (max-width: 1400px) {
    .logo-container {
        width: auto;
    }
    .imagen-logo {
        max-width: 130px; 
    }
}

@media (max-width: 768px) {
    .logo-container {
        width: auto;
    }

    .imagen-logo {
        max-width: 100px;
    }
}