.rating {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
}

.star {
    font-size: 1.4rem;
    color: #D7CCC8; /* estrellas apagadas */
    transition: transform 0.2s ease, color 0.2s ease;
}

.star.active {
    color: #ff9741; /* color principal */
}

.star:hover {
    transform: scale(1.2);
    color: #4E342E;
}