.galeria-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: dense;
    padding: 1rem 8rem;
}
.galeria-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Playfair Display', serif;
}

.galeria-titulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #df9a50;
    margin: 10px auto 0 auto;
}

.item{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tamaños */

.alto{
    grid-row: span 2;
}

.ancho{
    grid-column: span 2;
}

.grande{
    grid-column: span 2;
    grid-row: span 2;
}
@media (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem; 
    }

    .ancho,
    .grande {
        grid-column: span 2;
    }
    .galeria-titulo {
        font-size: 1.5rem;
        margin: 0.7rem 0.4rem;
    }
   
}